@media (min-width: 800px) {
    article {
        /* border: 2px solid red; */

        grid-template-areas: "question question question a1 a2 a3 a4 a5 a6 a7 a8 a9" !important;
    }

    selectStyles {
        border: '2px solid gray';
        width: '30rem'
    }

    selectStylesDanger {
        border: '2px solid red';
        width: '30rem';
    }
}
  